body {
    display: flex;
    flex-flow: column;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E02020;
    color: white;
    min-width: 600px;
    font-size: 20px;
}

header {
    padding-left: 1em;
}

h1 {
    font-size: 3em;
}

nav {
    background-color: black;
    display: flex;
    margin-left: 0;
}

.navbar {
    list-style-type: none;
    background-color: black;
}

li {
    float: left;
    padding-right: 2em;
}

a {
    font-size: 1em;
    color: white;
}

footer {
    text-align: center;
}

main {
    padding: 0;
    margin: 2em;
    background-color: white;
}

/* ###### Home ###### */

main h2 {
    font-size: 2em;
    padding: 1.5em;
    margin: 0;
    color: black;
    background-position: center;
    background-color: rgb(255, 255, 255, 0.8);
    background-blend-mode: lighten;
}

main #top {
    color: black;
    background-image: url(/images/man_woman_push_up.jpg);
    background-size: 80%;
}

main #middle {
    color: black;
    background-image: url(/images/super_man.jpg);
    background-size: 80%;
    text-align: right;
}

main #bottom {
    color: black;
    background-image: url(/images/welcome.jpg);
    text-align: center;
    font-weight: 900;
}

.main-junction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
}

.main-junction section {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width:50%;
    min-width: 400px;
    height: 200px;
    background-color: white;
    justify-content: center;
    font-weight: 900;
}

.main-junction section div {
    background-position: center;
    background-color: rgb(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    height: 90%;
    width: 90%;
}

.main-junction a {
    color: rgb(51, 51, 51);
}

.main-junction section div:hover {
    background-position: center;
    background-color: rgb(255, 255, 255, 1.0);
    background-blend-mode: darken;
    height: 90%;
    width: 90%;
}

.main-junction section div:hover a {
    color: white;
}

#services {
    background-image: url(/images/gym.jpg);
    background-size: 100%;
}

#about {
    background-image: url(/images/trainer.jpg);
    background-size: 95%;
}

#staffs {
    background-image: url(/images/fitness_diet.jpg);
    background-size: 100%;
}

#enquiry {
    background-image: url(/images/women_exercise.jpg);
    background-size: 80%;
}

/* ###### About ###### */

#inner-link {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;

}

#inner-link div {
    width: 33.333%;
    height: 100px;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    background-position: center;
    background-color: rgb(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    padding-top: 1em;
}

#inner-link div > a {
    color: black;
}

#inner-link div:hover {
    background-position: center;
    background-color: rgb(255, 255, 255, 1.0);
    background-blend-mode: darken;
}

#inner-link div:hover a {
    color: white;
}

.who {
    background-image: url(/images/man_in_gym.jpg);
    background-size: 100%;
}

.about-staffs {
    background-image: url(/images/trainer.jpg);
    background-size: 70%;
}

.owner {
    background-image: url(/images/boxing_man.jpg);
    background-size: 100%;
}


/* ######  ###### */

/* ###### Services ###### */



/* ######  ###### */

/* ###### Staffs ###### */



/* ######  ###### */

/* ###### Enquiry ###### */

